<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="..\static\chatstyle.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>aastroBot</title>
  </head>
  <body>
    <div class="wrapper">
        <div class="title">
            aastroBot 
        </div>
        <div class="form msger-chat">
            <div class="bot-inbox inbox">
                <div class="msg-header">
                    <p>Halo NGabs! Gue aastrabot</p>
                </div>
            </div>
        </div>
        <div class="typing-field">
            <form class="input-data msger-inputarea">
                <input type="text" class="msger-input" placeholder="Type something here..">
                <button type="submit" class="msger-send-btn">Send</button>
            </form>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        const msgerForm = get(".msger-inputarea");
        const msgerInput = get(".msger-input");
        const msgerChat = get(".form");
    
        msgerForm.addEventListener("submit", event => {
          event.preventDefault();
    
          const msgText = msgerInput.value;
          if (!msgText) return;
    
          appendMessage("user");
          msgerInput.value = "";
          botResponse(msgText);
        });
    
        function appendMessage(side, text) {
          //   Simple solution for small apps
          const msgHTML = `
            <div class="${side}-inbox inbox">
                <div class="msg-header">
                    <p>${text}</p>
                </div>
            </div>
            `;
    
          msgerChat.insertAdjacentHTML("beforeend", msgHTML);
          msgerChat.scrollTop += 500;
        }
    
        function botResponse(rawText) {
    
          // Bot Response
          $.get("/get", { msg: rawText }).done(function (data) {
            console.log(rawText);
            console.log(data);
            const msgText = data;
            appendMessage("bot", msgText);
    
          });
    
        }
    
    
        // Utils
        function get(selector, root = document) {
          return root.querySelector(selector);
        }
      </script>
    </body>
</html>